<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/layout :: head}"></head>
<body>
<header th:replace="~{layout/layout :: header}"></header>


<div class="container">
    <h3 th:text="${title}"></h3>

    <div class="container rounded-4">
        <a th:href="@{/department/save-department}" class="text-decoration-none"><button class="btn btn btn-outline-secondary"><span class="fa fa-plus"></span><span> Crear departamento</span></button></a>
    </div>

    <table class="table table-hover table-sm text-center">
        <thead>
        <tr>
            <th scope="col">ID Department</th>
            <th scope="col">Name Department</th>
            <th scope="col">Name of Company</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="department: ${departments}">
            <th scope="col" th:text="${department.codeDepartment}"></th>
            <td th:text="${department.name}"></td>
            <td th:text="${department.codeCompany.name}"></td>
            <td>
                <a th:href="@{/department/save-department/} + ${department.codeDepartment}" class="fas fa-pencil-alt mt-1"></a>
                <a th:href="@{/department/eliminar-departamento/} + ${department.codeDepartment}" class="fas fa-trash-alt mt-1 ms-3 text-danger"></a>
                <a th:href="@{/department/ver-departamento/} + ${department.codeDepartment}" class="fas fa-eye ms-3"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="~{layout/layout :: footer}"></footer>

</body>
</html>